<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>中秋节歌曲</title>
  <!-- 页面初始化 -->
  <link rel="stylesheet" href="../css/base.css">
  <!-- 共有的css -->
  <link rel="stylesheet" href="../css/common.css">
  <!-- 侧边导航栏的css -->
  <link rel="stylesheet" href="../css/aside.css">
  <!-- 乐曲页面的css -->
  <link rel="stylesheet" href="../css/歌曲.css">
  <!-- less编译工具 -->
  <script src="https://cdn.jsdelivr.net/npm/less@4"></script>
  <!-- 引入vue -->
  <script src="https://unpkg.com/vue@2"></script>
  <!-- 引入element-ui -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <!-- 整个盒子被vue控制，
    vue是渐进式的，能让你学多少用多少，各个功能独立互不影响 -->
  <div id="app">
    <!-- 布局容器，构建整体布局 -->
    <el-container>
      <!-- 头部：制作导航栏 -->
      <el-header>
        <nav>
          <div><a href="../../2107090422张瑞雪/index.html">春节</a></div>
          <div class="active"><a href="../../2107090412袁晓楠/index.html">清明节</a></div>
          <div><a href="../../2107090420闫启慧/index.html">端午节</a></div>
          <div><a href="../../2107090411刘敬超/index.html">中秋节</a></div>
          <div><a href="../../index.html">其它节日</a></div>
        </nav>
      </el-header>
      <!-- 主体内容：也是各个页面不同的地方 -->
      <el-main>
        <div class="left-box">
          <ul>
            <li v-for="(item,index) in aside" :class="index === 2 ? 'active' : ''">
              <a :href="item.href">{{ item.label }}</a>
            </li>
            <hr>
            <li class="end"><a href="../index.html">首页</a></li>
            <li><a href="./登录.html">登录</a></li>
          </ul>
        </div>

        <div class="right-box">
          <div class="container">
            <div class="player">
              <div class="player-track">
                <div class="album-name">红模仿</div>
                <div class="track-name">周杰伦 - 红模仿</div>
                <div class="track-time">
                  <div class="current-time">00:00</div>
                  <div class="total-time">03:50</div>
                </div>
                <div class="progress-box">
                  <div class="hover-time">00:36</div>
                  <div class="hover-bar"></div>
                  <div class="progress-bar"></div>
                </div>
              </div>
              <div class="player-content">
                <div class="album-cover">
                  <img src="https://tse1-mm.cn.bing.net/th/id/OIP-C.6zh0Cb6ErYKOVqlKgiPUOAHaHa?w=216&h=216&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="" class="active">
                  <img src="https://tse2-mm.cn.bing.net/th/id/OIP-C.4KeARYVcrNTYOug-sU7SNAHaHm?w=212&h=218&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="">
                  <img src="https://tse2-mm.cn.bing.net/th/id/OIP-C.4KeARYVcrNTYOug-sU7SNAHaHm?w=212&h=218&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="">
                  <img src="https://tse2-mm.cn.bing.net/th/id/OIP-C.4KeARYVcrNTYOug-sU7SNAHaHm?w=212&h=218&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="">
                  <img src="https://tse2-mm.cn.bing.net/th/id/OIP-C.4KeARYVcrNTYOug-sU7SNAHaHm?w=212&h=218&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="">
                </div>
                <div class="play-controls">
                  <div class="control">
                    <div class="button play-prev">
                      <i class="fa fa-step-backward">《</i>
                    </div>
                  </div>
                  <div class="control">
                    <div class="button play-pause">
                      <i class="fa fa-play">⚪</i>
                    </div>
                  </div>
                  <div class="control">
                    <div class="button play-next">
                      <i class="fa fa-step-forward"> 》</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </el-main>
      <!-- 尾部：小组信息，练习方式，鸣谢等 -->
      <footer>
        <div v-for="item in footer" :key="item.label">
          <div>
            {{ item.label }}
          </div>
          <div>
            {{ item.text }}
          </div>
        </div>
      </footer>
    </el-container>
  </div>
  <!-- 引入数据文件 -->
  <script src="../js/db.js"></script>
  <!-- 构建vue模板管理页面 -->
  <script>
    new Vue({
      el: '#app',
      data: {
        footer,
        aside
      },
    })
  </script>
  <script src="../js/歌曲.js"></script>
</body>
</html>