<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>春节访谈意义</title>
  <!-- 页面初始化 -->
  <link rel="stylesheet" href="../css/base.css">
  <!-- 共有的css -->
  <link rel="stylesheet" href="../css/common.css">
  <!-- 侧边导航栏的css -->
  <link rel="stylesheet" href="../css/aside.css">
  <!-- 诗歌页面的css -->
  <link rel="stylesheet" href="../css/访谈意义.css">
  <!-- less编译工具 -->
  <script src="https://cdn.jsdelivr.net/npm/less@4"></script>
  <!-- 引入vue -->
  <script src="https://unpkg.com/vue@2"></script>
  <!-- 引入element-ui -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <!-- 整个盒子被vue控制，
    vue是渐进式的，能让你学多少用多少，各个功能独立互不影响 -->
  <div id="app">
    <!-- 布局容器，构建整体布局 -->
    <el-container>
      <!-- 头部：制作导航栏 -->
      <el-header>
        <nav>
          <div class="active"><a href="">春节</a></div>
          <div><a href="../../2107090412袁晓楠/index.html">清明节</a></div>
          <div><a href="../../2107090422张瑞雪/index.html">端午节</a></div>
          <div><a href="../../2107090411刘敬超/index.html">中秋节</a></div>
          <div><a href="../../index.html">回首页</a></div>
        </nav>
      </el-header>
      <!-- 主体内容：也是各个页面不同的地方 -->
      <el-main>
        <div class="left-box">
          <ul>
            <li v-for="(item,index) in aside" :class="index === 4 ? 'active' : ''">
              <a :href="item.href">{{ item.label }}</a>
            </li>
            <hr>
            <li class="end"><a href="../index.html">首页</a></li>
            <li><a href="./登录.html">登录</a></li>
          </ul>
        </div>

        <div class="right-box">
          <div class="container">
            <!-- --c为自定义属性（颜色值），可通过var函数进行调用 -->
            <div style="--c: rgba(240, 128, 128, 0.5);">
              <h1>给“压岁钱”添一抹书香”</h1>
              <h4>来源：光明日报</h4>
              <p>日前有媒体报道，春节期间，不少地方陆续迎来取现金和兑换新钞业务的高峰期，有的客户要求连号、吉利号，个别银行甚至出现新钞紧缺的情况。</p>
              <p>这些现金大部分是给孩子们的“压岁钱”。“压岁钱”是文化传统，但近些年这一传统有些变味，据报道，部分城市小学生收到的压岁钱平均已达三千元，高者超过万元，攀比现象时有发生。其实，不妨用书当“压岁钱”，笔者的一位朋友，买了《论语》《三国演义》《格林童话》《夏洛的网》等书籍，准备在今年春节送给亲朋好友的孩子当作“压岁钱”。</p>
              <p>风俗代代相传，但不妨改变一下具体形式，使之更具文化意义。给孩子一本书，传递知识与文化，或许比钞票更能寄托大人的美好祝福。（鹰远）</p>
            </div>
            <div style="--c: rgba(32, 178, 171, 0.5);">
              <h1>守住“年味儿”的根本（今日谈）</h1>
              <h4>来源：人民日报</h4>
              <p>随着春节假期结束，人们陆续开启了工作模式。</p>
              <p>这个春节，外出旅游人数增多，一些城市实行了“史上最严"禁放鞭炮措施，微信红包拜年越来越盛行......不少人由此感叹“年味儿淡了"。有人担忧，照此下去，春节的许多传统习俗将会消逝。</p>
              <p>其实大可不必忧之。文化本质上拥有让人处变不惊的力量，不仅让我们依恋传统，也鼓励人们接受新的可能。就像春节团聚，返回家乡固然是极好的方式，但有些特殊工种春节离不开岗位，错峰返乡也依然情意浓浓。在城里工作的年轻人，也可把父母接进城，既能全家团聚，又能让父母感受一下“城里的月光"。选择在第三地旅游过年，一起看看世界，又何尝不是另一种天伦之乐?</p>
              <p>时代环境变了，文化形态也会相应改变。过去代表“年味儿"的某些形式，或许将离我们远去，但只要心在一起，就能找到新的"年味儿"取而代之，而不会留下情感或文化空缺。(吕莉)</p>
            </div>
            <div style="--c: rgba(255, 160, 122, 0.5);">
              <h1>闲话过年</h1>
              <h4>来源：人民日报</h4>
              <p>这篇编辑札记,只想闲话过年。</p>
              <p>一年大事，首推过年。除夕那天，中国的传统都要“守岁"。半夜人不寐,围坐等新年，可见其隆重。除夕夜一过，人就长一岁，古人诗说"坐到四更后，身添一岁来"。小孩子爱过年，除了有压岁钱，有糖果吃，有热闹玩，还因为盼望着能快快长大。可是，到了一定年纪，比如人到中年，有的便会如我一样，从心里怵起了过年。“爆竹声中一岁除"，除一岁就是老一岁，心中不禁暗喑紧张，怨时间去得飞快,恨自己一无所成，于是忙着制定各种各样的新年计划。然而一年过后，检视这些计划，常常又沮丧地发现，它们统统再用于来年，也是完全可以的。</p>
              <p>年最好在家乡过。与亲人围炉而坐，一锅炖肉,几杯暖酒，聊得兴起，喝到微醺,年的气息，家的温馨,就在此间悄悄弥漫。很多人不惧繁难，千里迢迢也要回家过年,图的正是这种感觉。哪怕就一次，也足以洗掉一年风尘，褪尽满身疲惫，好鼓起满腔斗志，跨入新年门槛。年最不宜于在旅途中度过，"旅馆寒灯独不眠，客心何事转凄然。故乡今夜思千里，霜鬓明朝又一年"，唐人高适的这首诗，写尽了旅途中过年的凄苦。千家万户皆团圆，旅客一人独相思，确实太残酷。</p>
              <p>也有人过年既不在家乡，也不在旅途，比如驻边的士兵，甚至我们采访春运的记者、报社值班的编辑......这样的人很多。他们甚至没有工夫生出"光阴易逝"的感慨，也没有时间仔细品味远离亲人的孤独，但他们是值得我们致敬的无名英雄。如果说时代就是一首诗，那么这些无名英雄写下的，一定是一首首关于过年的激昂诗篇。（张健)</p>
            </div>
            <div style="--c: rgba(135, 206, 250, 0.5);">
              <h1>年货演绎大时代</h1>
              <h4>来源：人民日报</h4>
              <p>中国各民族历史文化的多样性和相互影响的长期性决定了:一方面每个民族都有自己的传统节日;另一方面春节又成为汉族和绝大多数少数民族共同的节日。从某种意义上说，春节已成为中华民族重要的文化符号和精神家园。</p>
              <p>春节促进了民族之间的交流、交往、交融。交流的实现，离不开经济发展这个物质基础，离不开社会进步这个时代前提。国家基础设施建设的成就使得人们出行的路便捷了、安全了、舒服了，也使得各民族之间的交流、交融之路更加畅通了。各民族同步发展、互联互通，一起分享走在全面建成小康社会道路上的成果。</p>
              <p>中国人对家的情感，对家庭伦理的恪守，对家乡的爱，对祖国的爱，都可以从对回家过春节的执着中看出端倪。春节已成为全民族共有的精神家园，日益强化和提升着民族亲情和家国情怀。</p>
              <p>年节是旧有的习俗，是祖先留下来的传统;春节年年一样过，年年过节不一样。每一次回家过年，都有不同的故事。这些小故事，演绎着大时代;听这些故事，就是在倾听历史和社会进步的脚步声。</p>
              <p>年货一定是新的，与日常生活的变化同步;社会变化是新的，人们的生活是新的。年味是新的，我们的感受是新的。过年，过的就是一个新字。(中国社会科学院民族学与人类学研究所副所长、研究员尹虎彬)</p>
            </div>
            <div style="--c: rgba(240, 128, 128, 0.5);">
              <h1>年味弥漫情感中</h1>
              <h4>来源：人民日报</h4>
              <p>年货是年俗文化的物态体现，又往往与年礼相关，成为一种载体。年货本身并无偌多情感，而是来自附着其中的情感经历、人伦情意，这是在采办、制成、授受、分享过程中生成的。年货凝结着亲情友情爱情和乡情，让人体验当下的情感温馨，唤醒往昔的情感记忆，留存将来的情感回味，一辈子重温情感体验，加强情感浓度，历久弥香!</p>
              <p>年味在哪里?在吃里?在看里?不!那只是媒介。年味在情感里。人伦情义是中华年的灵魂，中华大家庭各民族皆然。要注入情感,要营造表达情感的环境、气氛和载体。是什么伟力竟能驱动30亿人次投入春运，成就地球上大迁徙的壮观?—一回家过年，天伦之乐。游子们带回的是亲情、是温暖。这就是中国人的感情世界，这就是中国人的精神家园，这就是中国人的过年历程。家国情怀，家国一体，就是凝聚力的精神资源，就是向心力的精神元素。</p>
              <p>随着祖国的飞速发展,各族人民的亲情之路，愈来愈畅通，愈来愈宽广。天上有飞机，地上添高铁，高铁里程已有19000公里，占全世界的60%!前年还顶风冒雪骑摩托车回家的贵州农民工，今年可以连人带车乘段高铁"摩托专列"回家了。宁夏的非物质文化遗产也随年货一起，更便捷地运供各族兄弟姐妹分享快乐。中华民族的年愈来愈兴旺!(中国节庆研究会名誉会长李汉秋)</p>
            </div>
            <div style="--c: rgba(32, 178, 171, 0.5);">
              <h1>带着祝福和希望出发</h1>
              <h4>来源：新华社</h4>
              <p>新华社北京1月28日电(赵仁伟)当热闹的爆竹声渐渐平息，当温馨的亲朋团聚定格在记忆，人们又要收拾行囊，再度出发。亲人的祝福，龙年的希冀,都汇聚成心中的力量,让人们踏上新的旅程。</p>
              <p>这是一个亲人团聚、亲情萦绕的节日。千百年的传承积淀，让春节承载着中国人对举家团圆、辞旧迎新的美好寄托。在这个特殊的节日里，人们放下手里千头万绪的工作，不顾千辛万苦的旅途跋涉，回到家乡与久别的亲人相聚。看看父母日渐增多的白发和皱纹，跟家人一起做做饭菜、拉拉家常，重温儿时放鞭炮、堆雪人的乐趣，其中浓浓的感恩、感动和感慨，让人们体味亲情的可贵，倍加珍惜生活的每一天。</p>
              <p>这是一段休整身心、积蓄力量的日子。春节长假，忙碌的人们停下来重新调整身心，为新的一年积蓄力量。不论都市白领，还是机关职员，无论漂泊异乡的进城务工人员，还是在土地上辛勤耕耘的农民，每个人都有成败得失需要盘点，也有欢乐苦恼需要倾诉，对于新的一年，更有无限憧憬和期待。让我们丢掉包袱,重新启程。</p>
              <p>这是一次充满希望、迎接挑战的出发。新的征程总是充满无限可能。在这个日新月异的时代，国家经济社会快速发展为每个人的发展创造提供了诸多机遇。站在新年新起点上，既要满怀信心，更需脚踏实地。大到为了国家富强、社会进步，小到为了个人成就、家庭幸福，都需要每个人付出点点滴滴的努力，去跨越未来路上的一个个沟沟坎坎。眼下，春节长假即将结束，需要人们及时“收心”，重新回到工作岗位，尽快找回工作状态。</p>
              <p>一个节日，让人们收获温情和感动;一次停顿,让人们孕育力量和希望。带上亲人的祝福，怀着新春的喜悦，让我们共同期待一个龙腾虎跃的新年。</p>
            </div>
          </div>
        </div>
      </el-main>
      <!-- 尾部：小组信息，练习方式，鸣谢等 -->
      <footer>
        <div v-for="item in footer" :key="item.label">
          <div>
            {{ item.label }}
          </div>
          <div>
            {{ item.text }}
          </div>
        </div>
      </footer>
    </el-container>
  </div>
  <!-- 构建vue模板管理页面 -->
  <script>
    new Vue({
      el: '#app',
      data: {
        footer: [
          {label:'小组成员', text: '张连博、刘敬超、袁晓楠、闫启慧、张瑞雪'},
          {label:'指导教师', text: '白云飞老师'},
          {label:'技术栈', text: 'html、css、javascript、vue'},
          {label:'组件库', text: 'element-ui、艾恩小灰灰'},
        ],
        aside: [
          {href: './传说故事.html', label: '传说故事'},
          {href: './美食佳肴.html', label: '美食佳肴'},
          {href: './春节影音.html', label: '春节影音'},
          {href: './节日民俗.html', label: '节日民俗'},
          {href: './访谈意义.html', label: '访谈意义'},
          {href: './春节趣事.html', label: '春节趣事'},
          {href: './春节文化.html', label: '春节文化'},
          {href: './各地活动.html', label: '各地活动'},
          {href: './春节美图.html', label: '春节美图'},
        ],
      },
      methods: {
        
      },
      components: {
        
      },
      watch: {
        
      },
      computed: {
      
      }
    })
  </script>
</body>
</html>